<div class="sovMainContainer">
    <div class="sovDescription">
        <div class="descriptionHeader" (click)="toggleAllSOVSlide()">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
        <div class="descriptionContainer">
            <kendo-grid
            [data]="gridData"
            [pageSize]=5
            [skip]=0
            [filter]="filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)"
            
          >
            <kendo-grid-column
              field="ProductID"
              title="ID"
              [width]=20
              [filterable]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Product Name" [width]="20">
            </kendo-grid-column>
            <kendo-grid-column field="Discontinued" [width]=25 filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
      
        </div>
    </div>
    <!--  -->
    <div class="previousSubmission">
      <app-sov-item-grid [isToggle]="isToggle"></app-sov-item-grid>
    </div>
    <!--  -->
   
</div>
