<kendo-dialog
  title="Column section builder"
  (close)="closeMangeColumnsPopup()">
<div class="manageColumnsMainConatiner">
  <div class="availableColumns manageColumnsSubConatiner">
    <div class="contentHeader">
      Available Columns
    </div>  
    <div class="searchBox">
      <kendo-textbox placeholder="Search"></kendo-textbox>
      <div class="k-icon k-i-search searchIcon"></div>
    </div>   
    <!-- Main Section -->
      <div class="columnsMainSection">
        <div class="sectionCheckAll">
          <input type="checkbox"  kendoCheckBox /> 
        </div>
        <div class="sectionCheckAllHeader">
          Section/coulmn name
        </div>   
      </div>
    <!--  -->
      <div class="columnsDescription">
        <div class="panelbar-wrapper">
            <kendo-panelbar >
              <kendo-panelbar-item  [expanded]="true">
                <ng-template kendoPanelBarItemTitle>
                  
                  <div class="subPanelHeaderSection">
                    <div class="sectionCheckAll">
                      <input type="checkbox"  kendoCheckBox /> 
                    </div>
                    <div class="sectionCheckAllHeader">
                      Remaining
                    </div>   
                  </div>
                </ng-template>
                  <ng-template kendoPanelBarContent>
                    <div class="columnsMainSection">
                      <div class="sectionCheckAll">
                        <input type="checkbox"  kendoCheckBox /> 
                      </div>
                      <div class="sectionCheckAllHeader">
                        coulmn name
                      </div>   
                    </div>
                    <div class="columnsMainSection">
                      <div class="sectionCheckAll">
                        <input type="checkbox"  kendoCheckBox /> 
                      </div>
                      <div class="sectionCheckAllHeader">
                        coulmn name
                      </div>   
                    </div>
                    <div class="columnsMainSection">
                      <div class="sectionCheckAll">
                        <input type="checkbox"  kendoCheckBox /> 
                      </div>
                      <div class="sectionCheckAllHeader">
                        coulmn name
                      </div>   
                    </div>
                    <div class="columnsMainSection">
                      <div class="sectionCheckAll">
                        <input type="checkbox"  kendoCheckBox /> 
                      </div>
                      <div class="sectionCheckAllHeader">
                        coulmn name
                      </div>   
                    </div>
                </ng-template>
              </kendo-panelbar-item>   
                       <!--  -->
                       <kendo-panelbar-item  [expanded]="true">
                        <ng-template kendoPanelBarItemTitle>
                          
                          <div class="subPanelHeaderSection">
                            <div class="sectionCheckAll">
                              <input type="checkbox"  kendoCheckBox /> 
                            </div>
                            <div class="sectionCheckAllHeader">
                             Quantity
                            </div>   
                          </div>
                        </ng-template>
                          <ng-template kendoPanelBarContent>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                        </ng-template>
                      </kendo-panelbar-item>  
                       <!--  -->
                       <!--  -->
                       <kendo-panelbar-item  [expanded]="true">
                        <ng-template kendoPanelBarItemTitle>
                          
                          <div class="subPanelHeaderSection">
                            <div class="sectionCheckAll">
                              <input type="checkbox"  kendoCheckBox /> 
                            </div>
                            <div class="sectionCheckAllHeader">
                             Quantity
                            </div>   
                          </div>
                        </ng-template>
                          <ng-template kendoPanelBarContent>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                            <div class="columnsMainSection">
                              <div class="sectionCheckAll">
                                <input type="checkbox"  kendoCheckBox /> 
                              </div>
                              <div class="sectionCheckAllHeader">
                                coulmn name
                              </div>   
                            </div>
                        </ng-template>
                      </kendo-panelbar-item> 
                       <!--  -->
            </kendo-panelbar>
        </div>
      </div>
    </div>
    <div class="columnsController">
      <div class="k-icon k-i-arrow-right"></div>
      <div class="k-icon k-i-arrow-left"></div>
    </div>
    <div class="selectedColumns manageColumnsSubConatiner">
        Selected Columns
        <div class="searchBox">
          <kendo-textbox placeholder="Search"></kendo-textbox>
          <div class="k-icon k-i-search searchIcon"></div>
        </div> 
      <!-- Main Section -->
      <div class="columnsMainSection">
        <div class="sectionCheckAll">
          <input type="checkbox"  kendoCheckBox /> 
        </div>
        <div class="sectionCheckAllHeader">
          Section/coulmn name
        </div>   
      </div>
    <!--  -->
    <div class="columnsDescription">
      <div class="lockedColumns">
          Schedule Item Id
      </div>
      <div class="lockedColumns">
          Description  
      </div>
    </div>
    </div>
</div>
<kendo-dialog-actions>
    <div class="footer">
        <div class="rightActionBtn">
            <button kendoButton (click)="clearManageColumnsPopup()" themeColor="info" fillMode="outline">
                Reset to default
              </button>
        </div>
        <div class="leftActionBtn">
            <button kendoButton (click)="closeMangeColumnsPopup()" fillMode="outline">Cancel</button>
            <button kendoButton (click)="saveMangeColumnsPopup()" themeColor="info">Save</button>
        </div>  
    </div>
</kendo-dialog-actions>
</kendo-dialog>
