.menuContainer{
    background-color:beige;
    width: 100%;
    height: 10vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightIcon{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    /* background-color: blue; */
    padding: 5px;
    flex-wrap: wrap;
}
.leftIcon{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    /* background-color: blueviolet; */
    padding: 5px;
}
.manageColumns{
    border: 1px solid blue;
    padding:5px;
    color: rgb(10, 10, 212);
    cursor: pointer;
}