#content{
    width: 100%;
}
#left{
    background-color: yellow;
    width: 50%;
    max-height: 100px;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 50px;
}
#right{
    background-color: green;
    width: 50%;
    max-height: 100px;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 50px;
}
