<!-- <app-sov-item-description></app-sov-item-description> -->

<!-- intregation 02 -->

<h2 style="text-align: center;">
    NEW SOV UI WITH KENDO ANGULAR ✨✨✨✨
</h2>
<app-menu-bar></app-menu-bar>
<!-- create main outer layer -->

<app-sov></app-sov>

<!-- <div id="content" >
    <div id="left" #left (scroll)="OnScroll(this)">gggggggggggg
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
                <br>
        <br><br><br><br>        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
    </div>
    <div id="right" #right>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
                <br>
        <br><br><br><br>        <br>
        <br><br><br><br>
        <br>
        <br><br><br><br>
    </div>
</div> -->