<div class="sovMainContainer">
    <div class="sovItemDescription">
        <app-sov-item-description></app-sov-item-description>
    </div>
    <div class="sovItemMoreDetail" >
        <div class="sovItems" >
            <div class="sovItemOuterContainer" *ngFor="let headerName of sovPanelHeaderList.headerName">
                <app-sov-item-grid [slidePanelName]= headerName></app-sov-item-grid>
            </div>
        </div>
    </div>
</div>

<app-manage-component *ngIf="isDisplayManageColumns"></app-manage-component>