.descriptionHeader{
    /* width: 20vw; */
    /* height: 2vh; */
    padding: 10px;
    background-color: #e4e4e4;
    cursor: pointer;  

}
.sideBarCollapse{
    width: 5vh;
    height: 60vh;
    display: grid;
    justify-items: flex-start;
    align-items: flex-start; 
}
.sideBarCollapse >.headerText{
    word-break: break-all;
    text-align: center;
    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: rotate(180deg);

}
.descriptionContainer{
    /* width: 20vw; */
}

#test1{
    width: 500px;
}