<div class="descriptionHeader" (click)="toggleSOVContent()" [ngClass]="{'sideBarCollapse' : isCollapse}">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  <span>
    test Name
  </span>  
</div>
<div class="descriptionContainer" *ngIf="!isCollapse">
    <kendo-grid
      [data]="gridData"
      [pageSize]=5
      [skip]=0
      [filter]="filter"
      [sortable]="true"
      [pageable]="true"
      [filterable]="true"
      (dataStateChange)="dataStateChange($event)"
    >
      <kendo-grid-column
        field="ProductID"
        title="ID"
        [width]=40
        [filterable]="false"
      >
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Product Name">
      </kendo-grid-column>
      <kendo-grid-column
        field="FirstOrderedOn"
        title="First Ordered On"
        [width]="240"
        filter="date"
        format="{0:d}"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="UnitPrice"
        title="Unit Price"
        [width]=180
        filter="numeric"
        format="{0:c}"
      >
      </kendo-grid-column>
      <kendo-grid-column field="Discontinued" [width]=120 filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>

</div>